/*

	styles for Portfolio de Jason Procyk


*/

/**************************************

	MAIN
	
***************************************/

/* global box-sizing */
*,
*:after,
*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
	overflow-y: scroll;
}

body {
	font:300 11px/1.4 'Lato', Helvetica, Arial, sans-serif;
	color:#444;
	/*background-color: rgba(136,191,40,0.5);*/
	/* alt color */ background-color: rgba(72,127,138,1);/*rgba(2, 72, 75, 0.4);*/
	/*background-color: #487F8A;*/
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a[data-chunk] {
	background-color: rgba(255,255,255,0.1);
	transition: background 0.2s ease-out;
	font-weight: inherit;
}

a[data-chunk]:hover {
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
}

.media p {
	text-align: center;
	margin-top: 1rem;
}

a.big {
	font-size: 2.5rem;
	font-weight: 300;
	font-style: italic;
	color: rgba(255,255,255,0.9);
}

ul.specs {
	margin: 0 0 3rem 0;
	padding: 0 0 3rem 0;
	text-decoration: none;
	
	border-width: 0 0 1px 0;
	border-color: rgba(255,255,255,0.9);
	border-style: solid;
	
	position: relative;
}
/*
ul.specs:before {
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	margin-left: 1px;
	border-top: 14px solid rgba(72,127,138,1);
	content: " ";
	position: absolute;
	bottom: -14px;
	left: 47%;
	z-index:101;
}

ul.specs:after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #FFF;
	content: " ";
	position: absolute;
	bottom: -16px;
	left: 47%;
	z-index:99;
}
*/
ul.specs li {
	display: inline-block;
	width: 25%;
	margin-right: 5%;
	margin-bottom: 1rem;
	
	font-size: 2rem;
	color: rgba(255,255,255,1);
}

ul.specs li:nth-child(2n){
	width: 70%;
	margin-right: 0;
}

/*------------------------------------*\
    NAVIGATION MENU
\*------------------------------------*/

div.menu ul {
	padding: 90px 0 0 0;
	margin: 0;
	font-size: 2rem;
}

div.menu ul li {
	display: inline-block;
	width: 22%;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer !important;
	position: relative;
	transition: background-color 0.2s ease-out;
	
	
}

div.menu ul li:before {
	content: attr(data-letter);
	font-family: Lato;
	font-weight: 500;
	font-style: italic;
	font-size: 2.8rem;
	
	color: #999;
	width:64px;
	height: 64px;
	margin-bottom: 12px;
	background-color: #E6E6E6;
	display: inline-block;
	padding: 1.5rem 0 0 0;
	
	position: relative;
	
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 0px rgba(0, 0, 0, 0.2);
	
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out; 
}


div.menu ul li a {
	color: #999;
	font-weight: 300;
	font-style: italic;
	font-size: 2.5rem;
	text-decoration: none;
	padding-top: 0.575rem;
	font-family: 'Lato';
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: color 0.2s ease-out;
}

div.menu ul li:hover a {
	color: #444;
	
}

div.menu ul li.current_page a {
	color: rgba(2, 72, 75, 1);
	
}
div.menu ul li.current_page:before {
	color: rgba(2, 72, 75, 1);
	-webkit-box-shadow: 6px 6px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    6px 6px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         6px 6px 0px rgba(50, 50, 50, 0.7);
}

div.menu ul li:hover:before {
	color: #444;
	left: -6px;
	top: -6px;
	
	-webkit-box-shadow: 6px 6px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    6px 6px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         6px 6px 0px rgba(50, 50, 50, 0.7);
}
.current_page:after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	/*border-bottom: 15px solid rgba(136,191,40,0.5);*/
	/* alt color */ border-bottom: 15px solid rgba(72,127,138,1);
	content: " ";
	position: absolute;
	bottom: -65px;
	left: 45%;
	z-index:99;
}

.logo.current_page:after {
	position: absolute;
	bottom: -27px;
	left: 82px;

}



div.menu ul li.current_page:before {
	color: rgba(2, 72, 75, 1);
	left: -6px;
	top: -6px;
	-webkit-box-shadow: 6px 6px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    6px 6px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         6px 6px 0px rgba(50, 50, 50, 0.7);
}

.current_page:hover:before {
	top: 0;
	left: 0;
}

.current_page a {
	color: #444;
	
}

/*
	GENERAL TYPE
*/

.buttons {
	float: right;
	width: 25%;
	margin-top: 1rem;
}

a.button {
	display: inline-block;
	font-size: 2rem;
	position: relative;
	margin: 0 0 1.5rem 0;
	height: 4rem;
	width: 100%;
	padding: 0.5rem 2rem;
	background-color:  rgba(2, 72, 75, 0.4);
	color: #DDD;
	font-weight: 100;
	
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out; 
	
}

a.button:hover, a.button:hover:after  {
	-webkit-box-shadow: 0.5rem 0.5rem 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0.5rem 0.5rem 0px rgba(50, 50, 50, 0.7);
	box-shadow:         0.5rem 0.5rem 0px rgba(50, 50, 50, 0.7);
	left: -0.5rem;
	top: -0.5rem;
}

a.button:hover:after {
	left: -5.5rem;
	top: 0;
}

a.button:hover:before {
	left: -4rem;
}

a.button:before {
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	/*border-bottom: 15px solid rgba(136,191,40,0.5);*/
	/* alt color border-left: 15px solid rgba(2, 72, 75, 1); */
	border-left: 15px solid #EEE;
	position: absolute;
	left: -3.5rem;
	top: 1rem;
	content: " ";
	z-index: 5;
	
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out; 
}

a.button:after {
	width: 4rem;
	height: 4rem;
	background-color: rgba(2, 72, 75, 0.4);
	position: absolute;
	left: -5rem;
	top: 0rem;
	content: " ";
	
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out; 
}

h1 {
	display: inline-block;
	vertical-align: top;
	font-family: 'Playfair Display', sans-serif;
	font-size: 2.8rem;
	font-weight: 400;
	color: rgba(255,255,255,1);
	text-align: left;
	
	width: 66%;
	
	margin: 0 35% 4rem 0;
	padding: 0;
	
	/*color: rgba(64, 83, 30, 1);*/
	/* alt color  color: rgba(2, 72, 75, 1);rgba(72,127,138,1)*/

}

h1 strong {
	font-weight: inherit;
	color: rgba(36, 46, 17, 1);
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5rem;
	color: rgba(255,255,255,1);
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 2.3rem;
}

.main div h2{
	font-size: 2.1rem;
	line-height: inherit;
	color: #CCC;
	font-weight: 300;
	margin: 4rem 0 2rem 0;
	padding: 0.5rem 0.25rem;
	/*background-color: rgba(136,191,40,0.5);*/
	/* alt color */ background-color: rgba(255,255,255,0.0);
	
	transition: all 0.2s ease-out;

	color: rgba(255,255,255,1);
	text-align: center;
	
	border-width: 1px;
	border-color: #FFF;
	border-style: dashed;
}

.main div h2.highlight, .main div h2.perm_highlight {
	background-color: rgba(255,255,255,1);
	color: rgba(72,127,138,1);
}

.date {
	font-size: 2rem;
	font-weight: 300;
	font-style: italic;
	color: rgba(255,255,255,0.7);
	/* color: rgba(136,191,40,1); */
	/* alt color  color: rgba(2, 72, 75, 1);*/
}

.date + p {
	margin-top: 0.5rem;
}

/*
.project_listing > article > h2 {
	font-size: 2.1rem;
	color: #000;
	font-weight: 300;
	margin: 4rem 0 2rem 0;
	padding: 0.5rem 0;
	background-color: rgba(136,191,40,0.5);
}*/

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
}

.copy {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

p {
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-top: 0;
	color: rgba(255,255,255,0.75);
	max-width: 100%;
	font-weight: 300;
	width: 100%;
}

p.big {
	font-size: 2.2rem;
	line-height: 3.4rem;
}

p em {
	
}



.story_branch p{
	width: 100%;
}

#introduction .story_branch img {
	max-width: 100%;
	margin-left: 0;
}

p a, p a:visited {
	font-weight: 700;
	font-style: italic;
	color: rgba(255,255,255,1);
	position: relative;
}

p a:hover {
	text-decoration: underline;
	/*text-shadow: 5px 5px #000;
	transition: all 0.2s ease-out;*/
}

a[data-link-desc]:hover:before {
	display: none;
	content: attr(data-link-desc);
	position: absolute;
	top: -3rem;
	left: -10rem;
	background-color: rgba(72,127,138,1);
	border-width: 1px;
	border-color: #FFF;
	border-style: solid;
}

.project article > p:first-of-type {
	font-size: 2rem;
}

.media {
	display: inline-block;
	max-width: 35%;
	margin-left: 10%;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1280px;
	width:90%;
	margin:0rem auto 3rem auto;
}

/* header */
.header {
	width: 100%;
	min-height: 290px;
	padding: 2rem 0 3rem 0;
	
	border-width: 0 0 0px 0;
	border-style: solid;
	border-color: #CCC;
	
	background-color: #FFF;
}

/* logo */
.logo {
	width: 31%;
	margin: 0 0 0 0;
	padding: 0;
	
	background-color: #FFF;
	text-align: left;
	float: left;
	position: relative;
}

.logo img {
	padding-top: 61px;
	max-width: 199px;
}

.main{
	box-sizing: border-box;
	margin-top: 5rem;
}

.project_listing > article {
	width: 27%;
	display: inline-block;
	margin: 2rem 6.2% 4rem 0;
	vertical-align: top;
}

.detail > article, .about_me > article {
	width: 100%;
}

.main div {
	width: 21%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
	transition: opacity 0.2s ease-out;
}

.main div.overview {
	width: 30%;
}

.main div.empty {
	opacity: 0.50;
	
}

.main div:nth-of-type(4n) {
	margin-right: 0;
}

.main .story_chunk {
	display: none;
}


.skills {
	margin: 10rem 0 0 0;
	padding: 5rem 0 3rem 0;
	border-style: solid;
	border-color: rgba(255,255,255,0.3);
	border-width: 1px 0 0 0;
	width: 100%;
	list-style-type: none;
}

.skills li {
	display: inline-block;
	width: 29.8%;
	margin-right: 5%;
	text-align: center;
	vertical-align: top;
}

.skills li:last-child {
	margin-right: 0;
}

.skills h4 {
	font-size: 2.5rem;
	margin: 1.7rem 0;
	font-family: 'Lato';
	font-weight: 300;
	color: rgba(255,255,255,0.9);
}

.skills p {
	font-size: 2rem;

}


/******* PAGES **********/

.home div {
	width: 47.2%;
}

.home div:nth-of-type(2n) {
	margin-right: 0;
}

.project section.big_media {
	background-color: #444;
	width: 100%;
	margin-right: 0;
	height: 350px;
}

.project div.meta {
	width: 24%;
	margin-right: 0;
}



/*************/

.view-article {
	/*display: block;
	margin-top: 2rem;
	width: 100%;
	background-color: rgba(2, 72, 75, 0.5);
	text-align: center;
	padding: 0.5rem 0;
	font-style: italic;
	font-weight: 500;
	color: #CCC;
	transition: background-color 0.2s ease-out;*/
}
/*
.view-article:hover {
	background-color: rgba(2, 72, 75, 0.3);
	
}

.view-article:active {
	background-color: rgba(2, 72, 75, 0.7);
}*/

iframe {
	height: 100%;
	width: 100%;
}


.contact_box {
	width: 100%;
	position: relative;
}

.contact_box textarea {
	width: 100%;
	min-height: 12rem;
	border-color: #FFF;
	border-radius: 0.75rem;
	background-color: rgba(255,255,255,0.95);
	
	padding: 1rem;

}

.contact_box button {
	width: 33%;
	margin-top: 1rem;
	border-radius: 0;
	height: 4rem;
	background: #FFF;
	border-style: solid;
	font-size: 2rem;
}

.contact_box:after {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 20px solid #FFF;
	/*border-bottom: 15px solid rgba(136,191,40,0.5);*/
	/* alt color */ border-bottom: 15px solid transparent;
	content: " ";
	position: absolute;
	left: 99.5%;
	top: 30%;
	z-index:99;
}